:host {
  padding-bottom: 20px;
}

.header {
  background-color: rgba(0, 21, 209, 0.9);
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  padding: 0 40px;

  &__title {
    color: white;
    font-size: 4rem;

    @media only screen and (max-width: 1200px) {
     font-size: 3rem;
    }

    @media only screen and (max-width: 600px) {
     font-size: 2rem;
    }
  }
}
