.content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__form {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    width: 100%;

    @media only screen and (min-width: 1200px) {
      width: 90%;
    }

    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__form-select-file {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;

    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }

  &__form-file-desc {
    display: flex;
    align-items: center;
  }

  &__form-file-name {
    margin-left: 10px;
  }

  &__form-file-delete {
    margin-left: 5px;
    cursor: pointer;
  }

  &__form-input {
    display: none;
  }

  &__form-btn {
    display: inline-block;
    width: 155px;
    padding: 10px;
    font-size: 0.9rem;
    color: rgba(255, 255, 255);
    background: rgba(0, 21, 209, 0.9);
    border: 1px solid rgba(255, 255, 255);
    border-radius: 6px;
    transition: all 0.2s ease 0s;
    cursor: pointer;

    @media only screen and (max-width: 1200px) {
      width: 120px;
      font-size: 0.8rem;
    }

    @media only screen and (max-width: 600px) {
      width: 130px;
      margin-bottom: 10px;
      font-size: 0.6rem;
    }
  }

  &__form-btn:hover {
    background: rgba(0, 21, 209, 0.9) rgba(255, 255, 255);
    border-color: rgba(0, 21, 209, 0.9);
    color: rgba(255, 255, 255);
    transition: all 0.4s ease 0s;
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__gallery-item-container {
    width: 30%;

    @media only screen and (max-width: 1200px) {
      width: 50%;
    }

    @media only screen and (max-width: 300px) {
      width: 100%;
    }
  }

  &__gallery-item {
    width: 100%;
    padding: 0 5px;

    &__img {
      width: 100%;

      height: 15vw;
      object-fit: cover;
      border-radius: 5%;
    }
  }

  &__gallery-item__descr {
    padding-bottom: 5px;
    text-align: center;

    @media only screen and (max-width: 1200px) {
      font-size: 0.9rem;
    }

    @media only screen and (max-width: 600px) {
      font-size: 0.7rem;
    }
  }

  .no-images {
    margin: 40px auto;
  }
}
