<div class="content">
  <div [formGroup]="formGroup" class="content__form">
    <input
      class="content__form-input"
      type="file"
      #fileEl
      formControlName="fileInput"
      (change)="onFileChanged($event)"
    />
    <div class="content__form-select-file">
      <button class="content__form-btn" (click)="onSelect()">New Image</button>

      <div *ngIf="file" class="content__form-file-desc">
        <div class="content__form-file-name">{{ file.name }}</div>
        <mat-icon
          class="content__form-file-delete"
          (click)="onClearFile()"
          matTooltip="delete"
        >
          clear
        </mat-icon>
      </div>
    </div>

    <button class="content__form-btn" (click)="onUpload()">
      Add to Gallery
    </button>
  </div>

  <div class="content__gallery">
    <ng-container *ngIf="items && items.length > 0; else noImages">
      <div class="content__gallery-item-container" *ngFor="let item of items">
        <div class="content__gallery-item">
          <img
            class="content__gallery-item__img"
            [src]="item.url"
            alt="item.name"
          />
        </div>

        <div class="content__gallery-item__descr">{{ item.name }}</div>
      </div>
    </ng-container>

    <ng-template #noImages>
      <div class="no-images">No images</div>
    </ng-template>
  </div>
</div>
